*{
    font-family : 'Noto Sans KR', sans-serif;
    list-style:none;
    text-decoration : none;
    border-collapse: collapse;
    margin:0px;
    color:rgb(147, 147, 147);
    }

    .intro_bg{
        position: absolute;
        background-image: url("../image/draven.jpg");
        width: 100%;
        height: 720px;
        background-size: cover
    }    
    .header{
        display: flex;
        width: 1280px;
        height: 86px;
        margin: auto;
    }

    .serchArea{
        width: 300px;
        height: 40px;
        background-color: green;
        border-radius: 5px;
        margin-top: 24px;
    }

    .nav{
        display: flex;
        justify-content: flex-end;
        line-height: 86px;
        width: 100%;
        background: rgba(0, 11, 48, 0.993);
    }

    .logo{
        padding: 4px;
        display: flex;
        background-image: url("../image/Logo.png");
        width: 80px;
        height: 80px;
        border-radius: 40px;
        background-size: contain;

    }

    .nav > li{
        margin-left: 34px;
        margin-right : 40px;
    }

    body{
        background-color: rgb(25, 25, 58);
    }

    .bar_under{
        position: absolute;
        padding-top: 20px;
        display: flex;
        background-color: black;
        justify-content: flex-end;
        height: 55px;
        width: 100%;
        line-height: 13px;
        bottom: 0px;
    }

    .temp_body{
        position: relative;
        height: 500px;
        width: 50%;
        background: rgba(0, 0, 0, 0.678);
        top: 12px;
        left: 50%;
        transform: translate(-50%,20%);
    }

    .temp_body_select{
        position: relative;
        height: 620px;
        width: 92%;
        background: rgba(0, 0, 0, 0.623);
        top: 12px;
        left: 50%;
        transform: translate(-50%,10%);
        line-height: 70px;
    }

    .temp_select{
        position: absolute;
        height: 530px;
        width: 92%;
        top: 12px;
        left: 50%;
        transform: translate(-50%,10%);
        overflow-y: auto;
            
    }
    

    #Login_title{
        font-size: 25px;
        width: 300px;
        height: 250px;
        line-height: 300px;            
    }

    #id_pw{
        display: inline-block;
        width: 70px;
        height: 100px;
    }
    #textbox{
        display: inline-block;
        width: 210px;
        height: 100px;        
    }
 	#text{            
        color : black;       
    } 	
    #button_login{
        margin-right: 10px;
        color: whitesmoke;
        width: 70px;
        height: 70px;
        border-radius: 10px;
        background: black;
    }
    .gcham{
    position:absolute;
 	justify-content: flex;
 	height:200px;
 	width:100px;
 	background:black;
    }