<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link hreff=""
	https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap
	" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<style>
</style>

<body>
	<div class="wrap">

		<div class="header">
			<a href="#"><div class="logo"></div></a>
			<ul class="nav" style="color: white;">
				<li><a href="#">HOME</a></li>
				<li><a href="#">ABOUT</a></li>
				<!--li><a href="#">LOGIN</a></li-->
				<li><a href="#">COMUNITY</a></li>
			</ul>
		</div>
		<div class="intro_bg"></div>
		<div class="temp_body" align="center">
			<div id="Login_title">
				<h1>Login Page</h1>
			</div>
			<form action="#">
			<div id="id_pw" style="font-size: 22px;">
				ID :<br> PW :
			</div>
			<div id="textbox">
				<input type="text" placeholder="id"
					style="height: 25px; width: 200px;"><br> <input
					type="password" placeholder="PW" style="height: 25px; width: 200px">
			</div>
			<br>
			<button type="submit" id="button_login">Enter</button>
			<a href="#"><button type="button" id="button_login">Sign
					Up</button></a>
			</form>
		</div>
	</div>
	<div class="bar_under">
		<ul class="info_under">
			<li>LWC, HYJ, SKT</li>			
			<li>KKH, KJH, PKH</li>
		</ul>
	</div>
</body>

</html>