<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<div layout:fragment="content">
    <h5>내 대출 내역</h5>

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">Loan ID</th>
            <th scope="col">Book Title</th>
            <th scope="col">Loan Date</th>
            <th scope="col">Due Date</th>
            <th scope="col">Return Date</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="loan : ${loans}" th:if="${loan.status != T(com.library.pr.domain.LoanStatus).RETURNED}">
            <td th:text="${loan.loanId}"></td>
            <td th:text="${loan.bookTitle}"></td>
            <td th:text="${loan.loanDate}"></td>
            <td th:text="${loan.dueDate}"></td>
            <td th:text="${loan.returnDate != null ? loan.returnDate : '미반납'}"></td>
            <td th:text="${loan.status}"></td>
            <td>
                <form th:action="@{/loan/return/{loanId}(loanId=${loan.loanId})}" method="post"
                      th:if="${loan.status != T(com.library.pr.domain.LoanStatus).RETURNED}">
                    <button type="submit" class="btn btn-primary">반납하기</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script layout:fragment="script" th:inline="javascript">
    // Clear button functionality
       document.querySelector(".clearBtn").addEventListener("click", function (e) {
           e.preventDefault();
           e.stopPropagation();
           document.querySelector("form").reset(); // Reset the form fields
       }, false);
</script>
</html>
